{% extends 'base.html' %}
{% block body %}
<h1 style="display:none">Biwinning</h1>
<h2>Clubs</h2>

<div class="row">
    <div class="span12">
        <table class="table table-hover">
            <thead>
            <th>Name</th>
            <th>Athletes</th>
            </thead>
            <tbody>
            {% for menu_club in clubs %}
            <tr>
                <td><a href="{{ url_for('club_overview', club_id=menu_club.strava_id) }}">{{menu_club.name}}</a></td>
                <td>{{ menu_club.athlete_count }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form action="{{ url_for('add_club') }}" method="post">
            <fieldset>
                <legend>Add club</legend>
                <label>Club id</label>
                <input type="text" name="add_club_id" placeholder="Enter Strava club id">
                <span class="help-block">I.e. http://app.strava.com/clubs/<strong>7459</strong>/participants</span>
                <button type="submit" class="btn">Add</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
