{% extends 'base.html' %}
{% block body %}
    <h1 style="display:none">Biwinning</h1>

    {% for (week_id, results) in weeks %}
    <h2>{{ week_id }}</h2>

    <table class="table">
        <thead>
            {% for athlete in club.athletes %}
                <th>{{ athlete.name }}</th>
            {% endfor %}
        </thead>
        <tr>
            {% for athlete in club.athletes %}
                <td>
                    {{ results[athlete.id] }}
                </td>
           {% endfor %}
        </tr>
    </table>
    {% endfor %}
{% endblock %}
