{% extends 'base.html' %}
{% block extra_header %}
<script src="/static/js/charts.js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{% block body %}
<h1 style="display:none">Biwinning</h1>
<h2>Date range for {{ club.name }}</h2>
<a class="btn btn-mini pull-right" title="Fetch now - also done periodically" href="{{ url_for('update', club_id=club.strava_id) }}"><i class="icon- icon-refresh"></i> Fetch rides now</a>
<div>
    <div id="content">

        <div class="row">
            <div class="span12">
                <h3>{{date_start|date}} - {{date_end|date}}</h3>

                <div class="row">

                        <div class="span6 pull-right">
                            <div data-ajax-url="{{ url_for('api_date_range', club_id=club.strava_id, start_date_id=start_date_id, end_date_id=end_date_id) }}"
                                 class='barchart'></div>
                        </div>
                        <div class="span6">
                        <table class="table table-hover">
                            <thead>
                            <th>Name</th>
                            <th>Distance</th>
                            <th>Elevation gain</th>
                            <th>Average speed</th>
                            </thead>
                            <tbody>
                            {% for result in scoreboard %}
                            <tr>
                                <td>{{ result.athlete.name }}</td>
                                <td class="right">
                                    <a data-toggle="tooltip" data-placement="top" title="{{ result.count }} rides">
                                        {{ result.distance|km }}
                                    </a>
                                </td>
                                <td class="right">{{ result.elevation_gain|meters }}</td>
                                <td class="right"><a data-toggle="tooltip" data-placement="top"
                                     title="Moving time {{ result.moving_time|minutes }}">
                                    {{(result.distance/result.moving_time)|ms2km }}
                                    </a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan=2>No rides =/.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}