{% extends 'base.html' %}
{% block extra_header %}
{% endblock %}
{% block body %}
<h1 style="display:none">Biwinning</h1>
<h2>Daily scoreboard for {{ club.name }}</h2>
<a class="btn btn-mini pull-right" title="Fetch now - also done periodically" href="{{ url_for('update', club_id=club.strava_id) }}?next=daily_scoreboard"><i class="icon- icon-refresh"></i> Fetch rides now</a>
<div>
    <div id="content">
        {% for day_id in days %}
        <div class="row">
            <div class="span12">
                <h3>{{ day_id|date('%d/%m/%y %A') }}</h3>
            </div>
            {% include 'day_row_snippet.html' %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div id="more">
        <a href="{{url_for('daily_scoreboard', club_id=club.strava_id, first_day_id=next_day_id)}}"
           class="btn btn-primary">More</a>
    </div>
</div>
{% endblock %}