
    <div class="span6 pull-right">
        <div data-ajax-url="{{ url_for('api_week_chart', club_id=club.strava_id, week_id=week_id) }}"
             class='barchart'
             style='{% if not week_scoreboards[week_id] %}display: none;{% endif %}'></div>
    </div>
    <div class="span6">
        <table class="table-data table table-hover">
            <thead>
            <th></th>
            <th>Athlete</th>
            <th class="right">Distance</th>
            <th class="right">Elevation gain</th>
            <th class="right">Average speed</th>
            </thead>
            <tbody>
            {% for quantity in week_scoreboards[week_id] %}
            <tr>
                <td>#{{loop.index}}</td>
                <td><a href="{{quantity.athlete.url}}">{{ quantity.athlete.name }}</a></td>
                <td class="right">
                    <a data-toggle="tooltip" data-placement="top" title="{{ quantity.data.count }} rides">
                        {{ quantity.value|km }}
                    </a>
                </td>
                <td class="right">{{ quantity.data.elevation_gain|meters }}</td>
                <td class="right"><a data-toggle="tooltip" data-placement="top"
                                     title="Moving time {{ quantity.data.moving_time|minutes }}">
                    {{quantity.data.average_speed|ms2km }}
                </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="center"><em>No rides this week</em></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
